body {
    font-family: sans-serif;
    /*margin: 20px;*/
    padding: 0;
  }

.field {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.fieldName {
    margin-right: 0.5rem;
}

.required:after {
    content:"*";
    color: red;
}

table, th {
    border: 1px solid;
}

td {
    padding-left: 0.25 rem;
    padding-right: 0.25 rem;
}